<div id="modal__contents">
  <div id="modal__contents-signin">
    <div class="modal-close">
      <%= image_tag 'close.jpg', class: 'modal-close-icon' %>
    </div><br>
    <p id="login-title">ログイン</p>
    <%= form_for(@user, url: new_user_session_path, format: 'json', html: {id: 'modal__signin'} ) do |f| %>
      <div>
        <%= f.email_field :email, autofocus: true, placeholder: 'メールアドレスを入力', class: "modal__sign__form" %>
      </div>
      <div>
        <%= f.password_field :password, autocomplete: "off", placeholder: 'パスワードを入力', class: "modal__sign__form" %>
      </div>
      <div>
        <%= f.check_box :remember_me, class: "modal__sign__form-check" %>
        <div class="modal__sign__form-check-label">ログイン情報を記憶する</div>
      </div>

      <div class="login__fg-text" style="border-bottom: none">
        パスワードを忘れましたか？
      </div>
      <div class="modal__login">
        <%= f.submit "ログイン", class: "modal__login-btn" %>
      </div>
    <% end %>
    <div class="modal__switch">Airbnbアカウントをお持ちですか？
        <div class="modal__switch-btn modal__open-signup">登録</div>
    </div>
  </div>
</div>
