<div class="mypage">
  <div class="mypage__left-contents">
    <div class="mypage__icon">
      <%= image_tag 'user_icon.png', class: 'mypage__icon-image' -%>
    </div>
    <div class="mypage__certification">
      <div class="mypage__certification__bar">
        <h4 class="mypage__certification__bar-title">認証済み項目</h4>
      </div>
      <div class="mypage__certification__box">
        <ul>
          <li>政府発行の身分証明書<i class="ion-ios-checkmark-outline"></i>
          </li>
          <li>メールアドレス<i class="ion-ios-checkmark-outline"></i>
          </li>
          <li>電話番号<i class="ion-ios-checkmark-outline"></i>
          </li>
        </ul>
      </div>
    </div>
    <div class="mypage__certification">
      <div class="mypage__certification__bar">
        <h4 class="mypage__certification__bar-title">連携済みのアカウント</h4>
      </div>
      <div class="mypage__certification__box">
        <ul>
          <li>Facebook<i class="ion-ios-checkmark-outline"></i>
          </li>
          <li>Twitter<i class="ion-ios-checkmark-outline"></i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mypage__right-contents">
    <div class="mypage__info">
      <h2>こんにちは、<%= @user.name -%>です！</h2>
      <h3>Tokyo, Japan・<%= @user.created_at.year -%>年<%= @user.created_at.month -%>月からメンバー</h3>
      <div class="mypage__info-flag">
        <i class="ion-ios-flag-outline"></i>
        <a href="" class="mypage__info-flag-text">このユーザーを報告</a>
      </div>
      <% if current_user.id == @user.id -%>
        <div>
          <%= link_to 'プロフィールを編集', edit_user_path(@user), class: 'mypage__info-profile' %>
        </div>
      <% end %>
    </div>

    <% if current_user.id == @user.id -%>
      <%= render "diaries/diary_list", diaries: @diaries %>
    <% else %>
      <%= render "diaries/diary_list", diaries: @public_diaries %>
    <% end %>
  </div>
</div>
