<header>
  <div class="header-container">
    <div class="header">
      <div class="header__logo">
        <a href="/">
          <%= image_tag 'airbnb.jpg', class: 'header__logo-airbnb' %>
        </a>
        <div class="header__search">
          <form class="header__search__form">
            <input type="text" placeholder="&#xF002;  どこでも" class="inputs">
            <input type="date" placeholder="&#xF073;  いつでも" class="inputs">
            <input type="text" placeholder="&#xF0C0;  宿泊人数" class="inputs">
          </form>
        </div>
      </div>

      <% if user_signed_in? %>
        <div class="header__user" >
          <%= image_tag 'user_icon.png', class: 'header__user-icon' %>
          <div class="header__user__box" id="account-box">
            <ul>
              <li class="header__user__box-li">
                <%= link_to 'アカウント設定', user_path(current_user), class: 'header__user__box-tag' %>
              </li>
              <li class="header__user__box-li">
                <%= link_to 'プロフィールを編集', edit_user_path(current_user), class: 'header__user__box-tag' %>
              </li>
              <li class="header__user__box-li">
                <%= link_to '日記登録', new_diary_path, class: 'header__user__box-tag' %>
              </li>
              <li class="header__user__box-li">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'header__user__box-tag' %>
              </li>
            </ul>
          </div>
        </div>
      <% else %>
        <div class="modal__open-signin">
          <div class="header__user" >
            <div class="header__user-text">ログイン</div>
          </div>
        </div>
        <div class="modal__open-signup">
          <div class="header__user" >
            <div class="header__user-account">アカウント作成</div>
          </div>
        </div>
      <% end %>

      <div class="header__host">
        <% if user_signed_in? %>
          <%= link_to "ホストになる", "/rooms/new", class: "header__host-text" %>
          <div class="header__host-text" id="header__diary">日記検索
            <div class="diary__box">
              <input type="text" class="diary__box__search" id="search_wrapper" , placeholder="行きたい国・都市名を入力してください">
              <div id="incremental-search-wrapper"></div>
            </div>
          </div>
        <% else %>
          <div class="modal__open-signin">
            <div class="header__user" >
              <div class="header__user-text" style="margin: 4px 20px">ホストになる</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</header>


