<div class="inn">
  <h2 class="inn-text">宿泊先</h2>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
</div>

<div class="inn">
  <h2 class="inn-text">体験</h2>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
</div>

<div class="inn">
  <h2 class="inn-text">音楽の体験</h2>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
</div>

<div class="inn">
  <h2 class="inn-text">ファッションの体験</h2>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
</div>

<div class="inn">
  <h2 class="inn-text">エンターテインメントの体験</h2>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
  <%= render 'inn__box' -%>
</div>
