<!DOCTYPE html>
<html>
  <head>
    <title>Airbnb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
  <div id="all-contents">
    <%= render 'rooms/header' -%>

    <%= yield %>

    <%= render 'users/sign_up', user: @user %>
    <%= render 'users/sign_in', user: @user %>

    <%= render 'rooms/footer/footer' -%>
  </div>
  <div id="modal-overlay"></div>
  </body>
</html>
